<p id="notice"><%= notice %></p>

<h1>Listing Members Projects</h1>

<table>
  <thead>
    <tr>
      <th>Member</th>
      <th>Project</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members_projects.each do |members_project| %>
      <tr>
        <td><%= members_project.member.lastname + ',' + members_project.member.firstname %></td>
        <td><%= members_project.project.name %></td>
        <td><%= members_project.date %></td>
        <td><%= link_to 'Show', members_project %></td>
        <td><%= link_to 'Edit', edit_members_project_path(members_project) %></td>
        <td><%= link_to 'Destroy', members_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Members project', new_members_project_path %>
