<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @members_project.member.lastname %>
</p>

<p>
  <strong>Project:</strong>
  <%= @members_project.project.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @members_project.date %>
</p>

<%= link_to 'Edit', edit_members_project_path(@members_project) %> |
<%= link_to 'Back', members_projects_path %>
