<%= form_for(@members_rank) do |f| %>
  <% if @members_rank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@members_rank.errors.count, "error") %> prohibited this members_rank from being saved:</h2>

      <ul>
      <% @members_rank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :member_id %><br>
    <%= f.text_field :member_id %>
  </div>
  <div class="field">
    <%= f.label :ranks_id %><br>
    <%= f.text_field :ranks_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
